@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins-Bold.ttf);
    font-style: bold;
    font-weight: 700;
}


@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins-Italic.ttf);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins-ExtraBoldItalic.ttf);
    font-style: italic;
    font-weight: 800;
}

:root {
    --purple-color: hsl(259, 100%, 65%);
    --light-red-color: hsl(0, 100%, 67%);
    --off-white-color: hsl(0, 0%, 94%);
    --light-grey-color: hsl(0, 0%, 86%);
    --smokey-grey-color: hsl(0, 1%, 44%);
    --off-black-color: hsl(0, 0%, 8%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
}

body {
    background-color: var(--off-white-color);
    display: grid;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 4.25rem 0;
}

.card {
    width: 840px;
    height: 655px;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 6.27rem;
    padding: 1.75rem;
}

.card form {
    display: grid;
    height: 100%;
    grid-template-rows: 22.5% 10% 50%;
    /* gap: 1.7rem; */
}

.card .fields-group {
    display: flex;
    align-items: flex-start;
    column-gap: 1rem;

}

.card .field {
    display: grid;
}

.field label {
    font-size: .44rem;
    text-transform: uppercase;
    letter-spacing: .11rem;
    color: var(--smokey-grey-color);
    margin-bottom: .25rem;
}

.field input {
    width: 160px;
    height: 72px;
    border-radius: 7px;
    border: 1px solid var(--light-grey-color);
    outline: none;
    padding-left: .72rem;
    cursor: pointer;
    caret-color: var(--purple-color);
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.field input:hover,
.field input:focus {
    border-color: var(--purple-color);
}

.field input::placeholder {
    color: var(--smokey-grey-color);
    opacity: .8;
    /* font-family: initial; */
}

.field .invalid {
    /* display: none; */
    font-size: .439rem;
    font-style: italic;
    font-weight: 400;
    color: var(--light-red-color);
    margin: 8px 0;
}

.button-container {
    display: flex;
    align-items: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid var(--off-white-color);
    margin: 1em 0;
    padding: 0;
    width: 100%;
}

form input[type=image] {
    background-color: var(--purple-color);
    border-radius: 50%;
    padding: .81rem .79rem;
    justify-self: end;
    font-size: 4rem;
    /* border-inline: .01px solid var(--light-red-color); */
}

form input[type=image]:hover {
    background-color: var(--off-black-color);
}

.results p {
    font-size: 3.24rem;
    font-weight: 800;
    font-style: italic;
    color: var(--off-black-color);
    letter-spacing: -1.8px;
}

.results p:nth-of-type(2) {
    margin: -1.3rem 0;
}

.results span {
    font-size: inherit;
    color: var(--purple-color);

    margin-right: .35rem;
}

@media (max-width: 840px) {
    body {
        margin: .3rem 0;
    }

    .card {
        width: auto;
        height: auto;
    }

    .card form {
        grid-template-columns: auto;
        gap: 1rem;
    }

    form input[type=image] {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .results p {
        font-size: 3rem;
    }
}

@media (max-width: 665px) {

    .card .fields-group {
        margin-bottom: 2rem;
    }

    .field input {
        width: 85px;
        height: 52px;
        padding-left: .3rem;
        font-size: 0.7rem;
    }

    .field input::placeholder {
        font-size: .8rem;
    }

    .results p {
        font-size: 2rem;
    }

    .results p:nth-of-type(2) {
        margin: -0.6rem 0;
    }
}

@media (max-width: 460px) {
    .card {
        padding: 1.75rem 1rem;
        border-bottom-right-radius: 4.27rem;
    }

    .card .fields-group {
        column-gap: .5rem;
    }

    form input[type=image] {
        padding: .61rem .59rem;
    }

    .results p {
        font-size: 1.8rem;
    }
}